<script>
$(function() {
  $('input[name="valdyt"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true
});
</script>
<script>
var update;
 (update = function() {
 document.getElementById("datetime")
 .innerHTML = moment().format('MMMM Do YYYY, h:mm:ss a');
 })();
 setInterval(update, 1000);

</script>    
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="custom.js">
</body>
</html>